

<div class="list__container">
  <h3 class="list__title">Book list</h3>
  <ng-container *ngIf="books">
      <div *ngFor="let book of books!"
           class="list__item">
        <p class="item__title">Titre: {{ book.title }}</p>
        <p class="item__author">Auteur: {{ book.author }}</p>
        <p class="mb-4">Statut: {{ book.status }}</p>
        <div class="flex space-x-2">
          <a [routerLink]="['edit', book.id]" class="button__edit" >
            Edit
          </a>
          <button class="button__remove">
            Remove
          </button>
          <button class="button__details">
            <a [routerLink]="['details', book.id]">View details</a>
          </button>
        </div>
      </div>
  </ng-container>
</div>
