<div class="list__container">
    <button (click)="toggleSideNav()" class="mx-6 w-fit bg-pink-950 my-6 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
      + Add a book
    </button>
  <div class="grid grid-cols-2 w-full" >
    <ng-container *ngIf="books">
        <div *ngFor="let book of books!" class="grid-cols-1 list__item">
          <p class="item__title">Title: {{ book.title }}</p>
          <p class="item__author">Author: {{ book.author }}</p>
          <p class="mb-4">Status: <span class="badge" [ngClass]="{
            'text-green-500 bg-green-50': book.status === 'available',
            'text-red-500 bg-red-50': book.status === 'borrowed'
          }">{{book.status}}</span></p>
          <div class="flex space-x-2">
            <a [routerLink]="['edit', book.id]" class="button__edit" >
              Edit
            </a>
            <button class="button__remove" (click)="deleteBook(book.id!)">
              Remove
            </button>
            <button class="button__details">
              <a [routerLink]="['details', book.id]">View details</a>
            </button>
          </div>
        </div>
    </ng-container>
  </div>
</div>
  <div [ngClass]="{
    'w-0': !sideNavOpened,
    'w-72': sideNavOpened
  }" class="fixed flex flex-col top-0 right-0 w-0 border border-b-black bg-white h-full transition-all duration-300 ease-in-out">
    <div class="overflow-y-auto overflow-x-hidden flex-grow">
      <ul class="flex flex-col py-4 space-y-1">
        <app-book-form (closeSideNav)="toggleSideNav($event)"></app-book-form>
      </ul>
    </div>
  </div>
